body {
    font-size: 0px;
	background-color: black;
}

.interface {
    position: absolute; 
    top: 0px; 
	left: 0px;
    background-color: #333;	
	#border: 2px black solid; 
}

.interfaceContent {
	position: absolute; 
    top: 0px; 
	left: 0px;
    overflow: hidden; 	
}

.navMenu {
	font-size: 0px;
	position: absolute; 
    bottom: 0px; 
	border-top: 2px black solid; 
    background-color: #ddd;
	height: 64px;
	width: 100%;	
	z-index: 500;
	text-align: center;
}

.navMenuButton {
	cursor: pointer;
	width: 64px;
	height: 64px;
	border-left: 2px black solid;
	border-right: 2px black solid;
	border-bottom: 2px black solid;
	background-color: #bbb;
	display: inline-block;
}

.navMenuButton:nth-child(n+2) {
	margin-left: -2px;
}

.navMenuButton:hover {
	background-color: #ddd;
}

.navMenuButton.active {
	cursor: default;
	background-color: green;
}

.navMenuButton img {
	margin-top: -2px;
	margin-left: -2px;
	width: 64px;
	height: 64px;
}

.borderBox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.textRed {
    color: red;
}

.textYellow {
    color: yellow;
}

.infoBlock {
    position: absolute;
    z-index: 1001;
	font-size: 12px;
}

.infoBlockBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1000;
}

