.interface {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    overflow: hidden; 
    border: 2px gray solid; 
    background-color: #333;
}

.borderBox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.textRed {
    color: red;
}

.textYellow {
    color: yellow;
}

body {
    font-size: 0px;
}
