.unitList {
	text-align: center;
}

.unitListTitle {
	text-align: center;
	font-size: 25px;
	color: ddd;
	padding-top: 30px;
	padding-bottom: 10px;
}

.unitSlot {
	width: 120px;
	height: 150px;
	border: 2px solid black;
	background-color: #ddd;
	display: inline-block;
	vertical-align: top;
}

.unitSlot.withUnit {
	cursor: pointer;
}

.unitSlot.withUnit img {
	width: 100%;
}

.unitSlot.active {
	cursor: pointer;
	background-color: #96DE93;
	border-color: #318D2E;
}

.unitSlot.active.selected {
	background-color: #90BAD8;
	border-color: #7DAFD3;
}

.unitSlot .buttonRemove {
	width: 20px;
	height: 20px;
	background-color: red;
	font-size: 13px;
	color: white;
	position: absolute;
	top: 1px;
	border: 1px solid black;
}