.map {
    background-color: #eee; 
    position: absolute;
    border: 2px #999 solid;
}

.location {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 64px;
    height: 64px;
}

.locationAction {
    position: absolute; 
    z-index: 5; 
    width: 32px; 
    height: 32px; 
    cursor: pointer;
}

.locationOld {
    border: 2px rgb(50,50,50) solid;
    border-radius: 32px;
    position: absolute;
    z-index: 2;
    background-color: #ccc;
}

.locationName {
    font-size: 10px;
    position: absolute;
    text-align: center;
    border: 2px rgb(50,50,50) solid;
    background-color: #ddd;
    padding: 2px;
    width: 100px;
    cursor: default;
}

.selectedLocation {
    background-color: #e5e576;
}

.selectedLocationOld {
    background-color: green !important;
}

.mouseOverLocation {
    background-color: #eea53e !important;
}

body {
    font-size: 0px;
}