<link href="css/interfaces/army.css" rel="stylesheet">

<div class="armyInterface"> 
	<div class="row">
		<div class="col-xs-12 unitListTitle">
			Ваша армия
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 unitList">
			<!--ko foreach: army-->
				<!--ko if: $data != null-->
				<div data-bind="attr: {onclick: 'game.interfaces.army.clickOnUnitInArmySlot('+$index()+')', class:'unitSlot unitArmySlot withUnit' + (game.interfaces.army.isSlotActive($index()) ? ' active' : '') + ($parent.selectedUnitInArmy() == $index() ? ' selected' : '')}">
					<img data-bind="attr: {src: 'img/battle/units/' +  game.data.units[unitType].avatar + '.png'}"/>
					<div class="buttonRemove" data-bind="attr: {onclick: 'game.interfaces.army.removeUnitFromArmy('+$index()+')'}">x</div>
				</div>
				<!--/ko-->
				<!--ko if: $data == null-->
				<div data-bind="attr: {onclick: 'game.interfaces.army.clickOnUnitInArmySlot('+$index()+')', class:'unitSlot unitArmySlot' + (game.interfaces.army.isSlotActive($index()) ? ' active' : '')}"></div>
				<!--/ko-->
			<!--/ko-->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 unitListTitle">
		Ваш резерв
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 unitList">
			<!--ko foreach: getReserveAsArray()-->
				<div data-bind="click: $parent.clickOnUnitInReserve, attr: {class:'unitSlot unitArmySlot withUnit' + ($parent.selectedUnitInReserve() == unitType ? ' active selected' : '')}">
					<img data-bind="attr: {src: 'img/battle/units/' +  game.data.units[unitType].avatar + '.png'}"/>
				</div>
			<!--/ko-->
		</div>
	</div>	
</div>
