<link href="css/interfaces/dialog.css?version=0.01" rel="stylesheet">

<div class='dialog'>
    <div class='objectPicture'>
        
    </div>
    
    <div class='objectDialogText'>
        <div data-bind='html: descriptionText'></div>
    </div>
            
    <div class='objectActions'>
        <!--ko foreach: visibleActions-->
        <!--ko if: isActive-->
        <div class='objectAction' data-bind='text: action.name, click: $parent.clickAction'></div>
        <!--/ko-->
        <!--ko if: !isActive-->
        <div class='objectAction objectActionNotActive' data-bind='text: action.name'></div>
        <!--/ko-->
        <!--/ko-->
    </div>
</div>

<div class='backButton'>
    <button data-bind="click: clickBack">Назад</button>
</div>