<link href="css/interfaces/inventory.css" rel="stylesheet">

<div class="inventoryInterface"> 
    <!--ko foreach: items-->
    <!--ko with: $parent.getItem(id)-->
    <div class='inventoryItem' data-bind="attr: {title: name + '\n' + description + ($parent.count > 1 ? '\nКоличество: ' + $parent.count : '')}">
        <img data-bind="attr: {src: 'img/items/' + sprite}"/>
        <div class="itemCount" data-bind="text: ($parent.count > 1 ? $parent.count : '')"></div>            
    </div>
    <!--/ko-->
    <!--/ko-->
</div>