<link href="css/interfaces/location.css" rel="stylesheet">

<!--ko with: location-->
<div class='location'>
    <div class='locationInfo'>
        <div class='header' data-bind='text: name'></div>
        <div class='locationDescription' data-bind='text: description'></div>
    </div>
    <div class='locationActions'>
        <div class='locationObjects'>
            <!--ko foreach: objects-->
            <!--ko with: game.cMap.objects[$data]-->
            <!--ko if: game.components.conditions.isVisible(visibleConditions)-->
            <div class='locationObject borderBox' data-bind="click: game.interfaces.location.clickObject">
                <div class='objectPicture borderBox'></div>
                <div class='objectName' data-bind='text: name'></div>
            </div>
            <!--/ko-->
            <!--/ko-->
            <!--/ko-->
        </div>
        <div style='margin: auto; margin-top: 25px; width: 100%; text-align: center; position: absolute; bottom: 20px;'>
            <button data-bind="click: $parent.clickBack">Назад</button>
        </div>
    </div>
</div>
<!--/ko-->