<link href="css/interfaces/quests.css" rel="stylesheet">

<div class="questsInterface"> 
	<div class="row">
		<div class="col-xs-3">
			<div class="block">
				<div class="questTitle selected">Quest 1</div>
				<div class="questTitle">Quest 2</div>
				<div class="questTitle">Quest 3</div>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="block">
				<div class="questDescription">
					После долгово путешествия вы прибыли в долину, осталось только добраться до замка Сершеваль и отчитаться о прибытии лорду Бешоу.
				</div>
				<div class="questNotes">
					<div>Заметки:</div>
					<div class="note">Поговорить со старостой Шадоувиль</div>
					<div class="note">Мост через реку был разрушен элементалями, пройти невозможно</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row footer">
		<button>Назад</button>
	</div>
</div>