<link href="css/interfaces/quests.css" rel="stylesheet">

<div class="questsInterface"> 
	<div class="row">
		<div class="col-xs-3">
			<div class="block">
				<!--ko foreach: quests -->
				<div data-bind="text: name, click: $parent.clickOnQuest, attr: {class: 'questTitle ' + ($data == $parent.selected() ? 'selected' : '')}"></div>
				<!--/ko-->
			</div>
		</div>
		<div class="col-xs-9">
			<div class="block">
				<!--ko with: selected -->
				<div class="questDescription" data-bind="text: description"></div>
				<div class="questNotes">
					<!--ko if: notes.length > 0-->
					<div>Заметки:</div>
					<!--ko foreach: notes-->
					<div class="note" data-bind="text: '- '+$data"></div>
					<!--/ko-->
					<!--/ko-->
				</div>
				<!--/ko-->
			</div>
		</div>
	</div>	
</div>