<link href="css/interfaces/map.css" rel="stylesheet">
<link href="css/interfaces/region.css" rel="stylesheet">

<div class='region' id='region'>
    <!--ko foreach: game.components.other.objectToArray(locations)-->
    <!--ko if: game.components.conditions.isVisible(visibleConditions)-->
    <div class="location borderBox" data-bind="style: {left: x - $parent.locationRadius, top: y - $parent.locationRadius, width: $parent.locationRadius * 2, height: $parent.locationRadius * 2}, attr: {locationId: id}, css: {mouseOverLocation: $data == $parent.mouseOverLocation(), currentLocation: game.hero.locationId == id}, click: $parent.clickLocation"/>
    <div class="locationName" data-bind="text: name, style: {left: x - 50, top: y + $parent.locationRadius + 5}"></div>
    <!--/ko-->
    <!--/ko-->
</div>
    
<div class='backButton'>
    <button data-bind="click: clickBack">Назад</button>
</div>
    